/* css code for not found routing */

    .server{
    color: #4f2083;
    font-weight: bold;
    font-size:4vw;
    }
    .not{
     color: #f15735;
     font-weight: bold;
     font-size: 3vw;
    }