.banner-about {
  background-image: url("../../image/aboutbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color: #ffffff;
}
.aw{
    font-size: 50px;
    color: #f15735;
}
.side {
  background-image: url("../../image/hill.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.side-1 {
  background-color: #f2edf6;
  color: #000000;
  height: 500px;
}
.side-2 {
  background-color: #4f2083;
  color: #ffffff;
  height: 600px;
}
